<section id="about-us" class="section-about-us section">
  <div class="container-about">
    <div class="container-section-about">
      <h2 class="title-about-us">
        Leading the Way in <br />Cybersecurity Innovation
      </h2>
      <p class="section-about-us-p-1">
        With decades of expertise and a relentless pursuit of excellence, we
        deliver security solutions designed to protect multinational
        corporations and small businesses alike
      </p>

      <div class="about-image-container-between"></div>

      <p class="section-about-us-p-2">
        At Secure Nexus/Guardian Tech, we understand the complexity of
        cybersecurity challenges that businesses face today. Our team of experts
        is committed to providing state-of-the-art solutions tailored to your
        specific needs, ensuring robust protection and peace of mind.
      </p>
      <button class="about-button-read">Read More</button>
    </div>
    <!-- <div class="about-image-container-after"></div> -->
  </div>
</section>
