<section id="connect" class="section-connect section"></section>
  <div class="container-connect">
    <div class="container-section-connect">
      <p class="title-connect">
        Connect With Our Cybersecurity Experts Today
      </p>
      <p class="section-connect-p">
       Ready to protect your business? Get in touch with us to discuss your cybersecurity needs and discover how our tailored solutions can bolster your defenses
      </p>
      <div class="connect-circle"></div>
    </div>
 <form id="myForm" class="form" action="#" method="post">
  
    <input class="form-name" type="text" name="name" placeholder="Name" required />
 
    <input class="form-email" type="email" name="email" placeholder="Email" required />

    <textarea class="form-message" name="message" placeholder="Message" rows="4" required></textarea>

    <button class="form-button" type="submit">Send Message</button>

</form>
  </div>
</section>