<footer class="footer">
  <div class="container footer-container">
    <p class="footer-title">Secure Nexus</p>
    <div class="footer-desctop-container">
      <div class="footer-quick-links">
        <p class="footer-Links">Quick Links</p>
        <ul class="footer-menu-list">
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#about-us">About us</a>
          </li>
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#services">Services</a>
          </li>
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#resource">Resource</a>
          </li>
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#connect">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="footer-legal-links">
        <p class="footer-Links">Legal</p>
        <ul class="footer-menu-list legal-list">
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#">Terms of Service</a>
          </li>
          <li class="footer-menu-list-item">
            <a class="footer-menu-list-link link" href="#">Compliance</a>
          </li>
        </ul>
      </div>

      <div class="footer-menu-list-information">
        <p class="footer-company">Company Information</p>
        <ul class="footer-menu-list-information-list">
          <li class="footer-menu-list-information-item">
            <svg width="24" height="24">
              <use href="/img/icons.svg#icon-phone"></use>
            </svg>
            <a class="footer-phone" href="tel:+380123456789">+1-800-SECURE</a>
          </li>
          <li class="footer-menu-list-information-item">
            <svg width="24" height="24">
              <use href="/img/icons.svg#icon-mail"></use>
            </svg>
            <a class="footer-phone" href="mailto:example@example.com"
              >example@example.com</a
            >
          </li>
          <li class="footer-menu-list-information-item">
            <svg width="24" height="24">
              <use href="/img/icons.svg#icon-location"></use>
            </svg>
            <a
              class="footer-phone"
              href="https://www.google.com/maps?q=123+Cyber+Lane,+Tech+City,+IN+46000,+United+States"
              target="_blank"
            >
              123 Cyber Lane, Tech City, IN 46000, United States
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-careers-links">
        <p class="footer-Links">Careers</p>
        <a class="footer-phone" href="#">Join Our Team</a>
        <p class="footer-descr">
          Interested in making a difference in cybersecurity? Visit our Careers
          page to see available opportunities and become a part of our
          innovative team
        </p>
      </div>
    </div>
    <p class="footer-secure">© 2024 Secure Nexus. All rights reserved.</p>
  </div>
</footer>
