<header class="page-header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo link" href="index.html"> Secure Nexus </a>
      <div class="header-navigation-list-button">
        <ul class="header-navigation-list list">
          <li class="nav-item">
            <a class="nav-item-link link" href="#about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-item-link link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-item-link link" href="#resource">Resource</a>
          </li>
          <li class="nav-item">
            <a class="nav-item-link link" href="#connect">Contact</a>
          </li>
        </ul>
        <div class="burger-and-btn">
          <button class="header-burger" type="button">
            <svg class="header-btn" width="36" height="24">
              <use href="/img/icons.svg#icon-burger"></use>
            </svg>
          </button>
          <button class="header-navigation-button">Get Protection Now</button>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- MENU -->
<div class="mobile-menu-background">
  <div class="mobile-menu">
    <div class="menu-container">
      <div class="addrs-and-btn">
        <button class="menu-btn" type="button">
          <svg class="menu-btn-icon" width="36" height="36">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="menu-nav">
        <ul class="menu-nav-list list">
          <li class="menu-nav-item">
            <a class="menu-nav-link link" href="#about-us">About us</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link link" href="#services">Services</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link link" href="#resource">Resource</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link link" href="#connect">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
