<section class="hero">
  <div class="hero-container">
    <div class="hero-title-img-but">
      <div class="hero-title-img">
        <h1 class="hero-title">
          Empowering Your Digital World with Advanced Security Solutions
        </h1>
        <p class="hero-text">
          Discover unparalleled protection with Secure Nexus, your partners in
          defending against cyber threats and enhancing your operational
          integrity.
        </p>
        <div class="hero-button">
          <button class="hero-button-learn">Learn More</button>
          <div class="button-wrapper">
            <button class="hero-button-started">Get Started</button>
          </div>
        </div>
      </div>

      <img class="hero-image" src="../img/Group_mobile.png" alt="security" />
      <div class="hero-buttons">
        <button class="hero-button-learn">Learn More</button>
        <div class="button-wrapper">
          <button class="hero-button-started">Get Started</button>
        </div>
      </div>
    </div>
    <ul class="hero-list-card">
      <li class="hero-list-card-item">
        <div class="circle"></div>
        <div class="card-content">
          <h3>Comprehensive Security Audit</h3>
        </div>
      </li>
      <li class="hero-list-card-item">
        <div class="circle"></div>
        <div class="card-content">
          <h3>Real-Time Threat Monitoring</h3>
        </div>
      </li>
      <li class="hero-list-card-item">
        <div class="circle"></div>
        <div class="card-content">
          <h3>Cutting-Edge Cyber Defense Technologies</h3>
        </div>
      </li>
    </ul>
  </div>
  <ul class="hero-list-card-stats">
    <li class="hero-list-card-stats-item">
      <div class="hero-circle" style="background-color: #4171c4">
        <svg width="50" height="46">
          <use href="/img/icons.svg#icon-koshik"></use>
        </svg>
      </div>
      <div class="hero-list-card-stats-item-text">
        <p class="hero-first-text">4K+</p>
        <p class="hero-second-text">Cyber Security Project</p>
      </div>
    </li>
    <li class="hero-list-card-stats-item">
      <div class="hero-circle" style="background-color: #6ccc3e">
        <svg width="40" height="50">
          <use href="/img/icons.svg#icon-test"></use>
        </svg>
      </div>
      <div class="hero-list-card-stats-item-text">
        <p class="hero-first-text">100k+</p>
        <p class="hero-second-text">Customer Globally</p>
      </div>
    </li>
    <li class="hero-list-card-stats-item">
      <div class="hero-circle" style="background-color: #e5333d">
        <svg width="56" height="57">
          <use href="/img/icons.svg#icon-test"></use>
        </svg>
      </div>
      <div class="hero-list-card-stats-item-text">
        <p class="hero-first-text">350+</p>
        <p class="hero-second-text">Cyber Security Expert</p>
      </div>
    </li>
    <li class="hero-list-card-stats-item">
      <div class="hero-circle" style="background-color: #8555c1">
        <svg width="50" height="58">
          <use href="/img/icons.svg#icon-chek-test"></use>
        </svg>
      </div>
      <div class="hero-list-card-stats-item-text">
        <p class="hero-first-text">100%</p>
        <p class="hero-second-text">Client Retention Rate</p>
      </div>
    </li>
  </ul>
</section>
