<section id="resources" class="section-resources section">
  <div class="container-resources">
    <div class="container-section-resources">
      <p class="title-resources">
        Explore Our Rich Library of Cybersecurity Resources
      </p>
      <p class="section-resources-p">
        Enhance your knowledge with our curated content featuring best
        practices, case studies, and the latest industry insights
      </p>
    </div>
    <ul class="container-resources-list">
      <li class="container-resources-list-item">
        <div class="resources-circle"></div>
        <p class="container-resources-list-item-des">E-books</p>
      </li>
      <li class="container-resources-list-item">
        <div class="resources-circle"></div>
        <p class="container-resources-list-item-des">Webinars</p>
      </li>
      <li class="container-resources-list-item">
        <div class="resources-circle"></div>
        <p class="container-resources-list-item-des">Blog Articles</p>
      </li>
    </ul>
  </div>
</section>
