/* Base styles */
@font-face {
  font-family: 'Mashetic';
  src: url('../fonts/Mashetic.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Mashetic', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--main-color);
  background-color: #001531;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media screen and (min-width: 430px) {
  .container {
    width: 430px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}